@charset "utf-8";

@media screen and (max-width:768px){

    /* header */
    #header { top:0; z-index: 99999;}
    #header .lang{position: fixed;right: 16px;bottom: 16px;display: none;}
    #header .navbarWrap{width: 100%;padding:0 10px}
    #header .navbar{
        position: fixed;margin:initial;
        width: 70%;height: 100%;
        background: #eee;
        top:0;left: -100%;transition:0.3s;
        display: flex;justify-content: center;align-items: center;
        z-index:11;box-shadow: 0 0 20px rgba(0,0,0,1);
    }
     .overLayer{
         position: fixed;width: 100%;height: 100%;background: rgba(0,0,0,0.5);left: 0;top: 0;z-index:10;
         display: none;
        }
    
    #header .navbar ul{
        display: block;width:80%;
    }
    #header .navbar li{width: 100%;font-weight: bold;}
    #header .navbar li:after{display: none;}
    #header .navbar li a{color:#666;font-size:20px}
    .toggle{
        display: block;position: fixed;top:18px;right:16px;
        width: 24px;height: 24px;cursor: pointer;
        display: flex;justify-content: center;align-items: center;z-index: 999999;
        }
    .toggle div{
        width: 20px;height: 2px;background: #000;
        position: absolute;transition:0.3s;
    }
    .toggle .bar1{transform: translateY(-6px);}
    .toggle .bar3{transform: translateY(6px);}

    .toggle.active .bar1{transform: rotate(45deg) translateY(0);}
    .toggle.active .bar2{opacity:0}
    .toggle.active .bar3{transform: rotate(-45deg)  translateY(0);}
    
}
