@charset "utf-8";
html,body{height: 100px;}
        *{margin:0px;padding: 0px;box-sizing: border-box;}
        li{list-style: none;}
        a:link,a:visited{color: black;text-decoration:none;}
        .clearfix:after{content: "";display: block;clear:both;}