@charset "utf-8";

.section{
    background-repeat: no-repeat;background-position: center;background-size: cover;
}
.section.page1 { background-image: url(../images/mv01.jpg)}
.section.page2 { background: #fff;}
.section.page3 { background:#fff;}
.section.page4 { background:#f2cdbb;}
.section.page5 { background:#fff;}
