@charset "utf-8";

@media screen and (min-width:721px) {
    body {
        font-family: 'Noto Sans KR', sans-serif;
        min-width: 980px;
    }

    .logo_wrapper .toggle {
        display: none;
    }

    .util_Wrapper {
        width: 980px;
        margin: 0 auto;
    }

    .util {
        float: right;
    }

    .util li {
        float: left;
        position: relative;
    }

    .util li:after {
        content: "";
        width: 1px;
        height: 11px;
        display: block;
        background: #ccc;
        position: absolute;
        top: 10px;
    }

    .util li:first-child:after {
        display: none;
    }

    .util>li>a {
        display: block;
        padding: 6px 10px;
        font-size: 12px;
    }

    .wall {
        height: 1px;
        background: #ccc;
    }
    .logo_Wrapper { width: 980px;margin: 0 auto;
    padding: 23px;}
    .logo_Wrapper>h1 {background: url(../images/www.jpg) no-repeat center ;}
    .logo_Wrapper>h1>a { display: block;text-indent: -9999px;}


.nav_Wrapper{ background-color: #721e1e;border-bottom: 3px solid 000}
.nav_Wrapper>.nav{ margin: 0 auto ;width: 980px;display: flex;justify-content: center;align-items: center;}
.nav_Wrapper>.nav>li{ float: left;
   text-align: center;}
.nav_Wrapper>.nav>li>a { display: block;color: #fff;}
.nav_Wrapper>.nav>li:after {
        content: "";
        width: 1px;
        height: 14px;
        display: block;
        background: #874356;
        position: absolute;
        top: 140px;
    }
    .nav_Wrapper>.nav>li:first-child:after{display: none}
.nav_Wrapper>.nav>li>a{
    display: block;text-align: center;line-height: 45px;color:white;padding:0px 10px;font-size: 14px;
    
}
.nav_Wrapper>.nav>li>a:hover{background-color:#888870;}

.slider01{ background-color:#eae4d4;}
.slider02 { background-image: url(../images/20211228.53e4d01613c521b5fdb71b5e0fd881515804.jpg);}
.slider03 { background-image: url(../images/20220316.b78014571441b0816872b13775c248d11969.jpg);}

  
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
/* content  */
.banner{ width: 980px;margin: 0 auto;}
.banner ul li {float: left; width: calc((100% - 60px) / 4); margin-right: 20px;}
.banner ul li:last-child{margin-right: 0;}
.plus{
    width:233px; height: 240px; position: relative;
    transition:0.3s; overflow: hidden;
}
.icon{
    position: absolute; display: block; text-align: center;
    bottom: 10px; transition: 0.3s;
}
.icon img{margin-left: 10px; margin-top: -5px;}

.icon p{color: white; font-size: 16px;margin-bottom: 30px}


.plus img{
    position: absolute;
    transition:0.3s;
}

.plus:hover img{
    transform:scale(1.1);
}
.plus:hover .icon{bottom: 150px;}

.plus .background{
    width: 100%;height: 100%;
    position: relative;
    opacity:0.5;transition:0.3s;background: #000;
}
.plus:hover .background{opacity:0.8}

.plus .circle{
    position: absolute;
    width: 30px;height: 30px;
    left:50%;top:50%;transform:translate(-50%,-50%);
    transition:0.3s;border: 3px solid #fff;
    border-radius:50%;
    animation-duration: 0.3s;
}
.circle .bar1,
.circle .bar2{
    width: 15px;height: 2px;background: #fff;position: absolute;
    border-radius:2px;left: 50%;top: 50%;transform:translate(-50%,-50%)
}

.circle .bar1{transform:translate(-50%,-50%) rotate(90deg)}

.plus1:hover .circle,
.plus2:hover .circle,
.plus4:hover .circle{
    transform:translate(-50%,-50%) rotate(90deg);
}


}